.root {
  padding-top: 1rem;
  padding-bottom: 5rem;
  border-bottom: 2px solid var(--color-primary);
  padding: 1rem 10% 5rem;
}

.heading {
  font-size: 4rem;
  padding: 0 10%;
  text-align: center;
  line-height: 1.1;
  width: 100%;
}

.icons {
  margin-bottom: 4rem;
}

@media(min-width: 700px) {
  .heading {
    padding: 0;
    margin-bottom: 0;
    margin-top: 1.4rem;
  }
}


.subtext {
  text-align: center;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  line-height: 1.66666;
  margin-bottom: 4rem;
  font-size: 1rem;
  padding: 0 10%;
  margin-top: 3rem;
  font-style: italic;
  margin-bottom: 2rem;
  color: rgba(255,255,255,.9);  
}

@media(min-width: 700px) {
  .subtext {
    font-size: 1.2rem;
    padding: 0;
    padding-bottom: 1rem;
  }
}

.thinRow {
  max-width: 600px;
  margin: auto;
}

.subtitle {
  font-size: 2.4rem;
  padding-top: 3rem;
  margin-top: 3rem;
  padding-bottom: 1rem;
  background-position: 4rem 4.4rem;
  background-repeat: no-repeat;
  overflow: visible;
  position: relative;
  line-height: 1.1;
}

.subtitle:before {
  width: 2rem;
  height: 4px;
  background-color: var(--color-secondary);
  content: '';
  position: absolute;
  top: 4.4rem;
  left: -3rem;
}

.meta {
  color: var(--color-secondary);
}

.slash {
  color: white;
}

.post {
  margin-bottom: 4rem;
}

.postLink {
  color: white;
  text-decoration: none;
}

.postLink:hover {
  border-bottom: 2px solid var(--color-link);
}

.post h3 {
  font-family: "FatFrank", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0;
  position: relative;
  padding-top: .6rem;
}

.post h3:before {
  width: 1.4rem;
  height: 4px;
  background-color: var(--color-primary);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

.desc {
  line-height: 1.7;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}

.postContent {
  -webkit-font-smoothing: antialiased;
  line-height: 1.6666;
  max-width: 45rem;
  margin: auto;
  font-weight: 400;
  font-size: 1.1rem;
  color: rgba(255,255,255,.8);
  padding: 0 5%;
}

.postContent img {
  max-width: 100%;
}

.postContent p,
.postContent blockquote,
.postContent ul,
.postContent ol {
  margin-bottom: 2.4rem;
}

.postContent blockquote {
  border-left: 3px solid var(--color-link);
  margin-left: 0;
  padding: .1rem 0 .1rem 2rem;
  font-style: italic;
  font-weight: 400;
  font-size: 1.4rem;
}

.postContent blockquote p {
  margin-bottom: .8rem;
}

.postContent a {
  color: var(--color-link);
}

.postContent a:hover {
  color: white;
}
