/*
* Rolling with a modular scale here, set this up however you want yo
* http://www.modularscale.com/
*/

:global body,
:global html {
  font-family: "factoria",sans-serif;
  font-size: var(--font-size-base);
  line-height: 1.25rem;
}

:global h1,
:global h2,
:global h3 {
  font-family: "fatfrank",sans-serif;
  font-weight: 700;
}
