[id^=bubble-one] {
  opacity: 1;
  transform: translateY(10px);
  animation: pop 2s infinite;
}

[id^=bubble-two] {
  opacity: 1;
  transform: translateY(10px);
  animation: pop 2s infinite;
  animation-delay: .4s;
}

[id^=bubble-three] {
  opacity: 1;
  transform: translateY(10px);
  animation: pop 2s infinite;
  animation-delay: .8s;
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(4px);
  }
}
