.heading {
  font-size: 3rem;
  padding: 0 10%;
  text-align: center;
  line-height: 1.1;
  width: 100%;
}

.row {
  lost-utility: clearfix;
  padding: 0 10%;
  padding-top: 4rem;
}

@media(min-width: 700px) {
  .heading {
    font-size: var(--font-size-alpha);
    padding: 0;
    margin-bottom: 0;
    margin-top: 1.4rem;
  }
  .row {
    padding-left: 0;
    padding-right: 0;
  }
}


.subtext {
  text-align: center;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  line-height: 1.66666;
  padding-bottom: 1rem;
  font-size: 1rem;
  padding: 0 10%;
  color: rgba(255,255,255,.9);
  
}

@media(min-width: 700px) {
  .subtext {
    font-size: 1.2rem;
    padding: 0;
    padding-bottom: 2rem;
  }
}

.thinRow {
  max-width: 600px;
  margin: auto;
  padding: 0 10%;
}

.icons {
  margin-top: 4rem;
}

.imageCol {
  margin-bottom: 2rem;
}

@media(min-width: 700px) {
  .imageCol {
    lost-column: 1/2;
  }

  .copyCol {
    lost-column: 1/2;
    padding-top: 1.7rem;
  }

  .thinRow {
    padding: 0;
  }
  
}

.copyCol p {
  text-align: left;
}

.speakingImage {
  display: block;
  margin: auto;
  border-radius: 999em;
  max-width: 300px;
  border: 5px solid var(--color-link);
}

.subtitle {
  font-size: 2.4rem;
  padding-top: 3rem;
  margin-top: 0;
  padding-bottom: 1rem;
  background-position: 4rem 4.4rem;
  background-repeat: no-repeat;
  overflow: visible;
  position: relative;
  line-height: 1.1;
}

@media(min-height: 900px) {
  .subtitle {
    margin-top: 2rem;
  }
}

.subtitle:before {
  width: 2rem;
  height: 4px;
  background-color: var(--color-secondary);
  content: '';
  position: absolute;
  top: 4.4rem;
  left: -3rem;
}

.meta {
  color: var(--color-secondary);
}

.slash {
  color: white;
}

.event {
  margin-bottom: 4rem;
}

.event a {
  color: white;
  border-bottom: 2px solid var(--color-link);
  text-decoration: none;
  display: inline-block;
  margin-right: 2rem;
}

.event a:hover {
  color: var(--color-link);
  border-bottom: 2px solid white;
  display: inline-block;
}

.event h3 {
  font-family: "FatFrank", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0;
  position: relative;
  padding-top: .6rem;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

.event h3:before {
  width: 1.4rem;
  height: 4px;
  background-color: var(--color-primary);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

.desc {
  line-height: 1.7;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}
