.root {
  vertical-align: middle;
  lost-utility: clearfix;
  max-width: 500px;
  margin: auto;
  padding: 0 10%;
}

@media(min-width: 700px) {
  .root {
    padding: 0;
  }
}

.left {
  margin-left: 0;
}

.icon img {
  vertical-align: middle;
}

.icon {
  lost-column: 1/5;
  height: 2rem;
}

@media(min-width: 700px) {
  .icon {
    height: 3rem;
  }
}

.icon img {
  height: 100%;
}

.icon .lantern {
  height: 110%;
  margin-top: -5%;
}
