.root {
  vertical-align: middle;
  lost-utility: clearfix;
  max-width: 500px;
  margin: auto;
}

.left {
  margin-left: 0;
}

.icon img {
  vertical-align: middle;
}

.icon {
  lost-column: 1/5;
  height: 3rem;
}

.icon img {
  height: 100%;
}

.icon .lantern {
  height: 110%;
  margin-top: -5%;
}
