.root {
  lost-utility: clearfix;
  width: 100%;
}

.imageBlock {
  lost-column: 1/4;
}

.imageBlock img {
  border-radius: 100%;
  border: 2px solid var(--color-primary);
  margin-top: 1rem;
}

.bioBlock {
  -webkit-font-smoothing: antialiased;
  max-width: 600px;
  padding: 0 10%;
}

.bioBlock p {
  position: relative;
  orphans: 3;
  font-size: .8rem;
}

@media(min-width: 700px) {
  .bioBlock {
    padding: 0;
  }
  .bioBlock p {
    font-size: var(--font-size-theta);
  }
}

.bioBlock p:first-child:before {
  content: '';
  width: 2rem;
  height: 3px;
  position: absolute;
  top: -.5rem;
  left: 0;
  background-color: var(--color-secondary);
}

.bioBlock a,
.bioBlock a:visited {
  text-decoration: none;
  color: var(--color-link);
}

.bioBlock a:hover {
  color: white;
  border-bottom: 2px solid var(--color-link);
}

.link {
  color: var(--color-link);
  text-decoration: none;
}

.links {
  text-align: right;
}
